/* ----------------------------------------------------
	DEFAULT COLOR SCHEME	
------------------------------------------------------- */  

	/* IF IMPORTANT */
	
	.shortby a,
	#sidebar .list-widget ul li:hover span,
	#sidebar .latest-tweets h4::before,
	.slider-button a.btn-default {
		color:#3daa62 !important;
	}

	.parallax .btn-primary {
		color: #3daa62 !important;
	  	border: 2px solid #3daa62 !important;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	  	border-top-color: #3daa62 !important;
	}
	.form-control:focus {
	  	border-color: #3daa62 !important;
	}
	blockquote {
		border-left-color: #3daa62 !important;
	}
	.bordertop {
		border-top:4px solid #3daa62 !important;
	}

	.navbar-default.background .nav > li > a,
	.comingsoon .smallcount h3 span,
	.pager li > a:hover, 
	.pager li > span:hover,
	.drop-caps.full p:first-child::first-letter,
	.pagination > li > a:hover, 
	.pagination > li > span:hover,
	.quotepost,
	.portfolio-widget-title h3 span,
	#sidebar .widget .widget-title h4 span,
	.pheader,
	.contact-info .service-style-2 i,
	.service-style-1.service-absolute:hover .social i,
	.service-style-1.withborder:hover .icon-container,
	.background,
	.service-style-1.nobg:hover,
	.teammember:hover .readmore i,
	.tag-widget a:hover,
	.noborder:hover .icon-container,
	.owl-theme .owl-controls .owl-nav [class*='owl-']:hover,
	.sexyload,
	.sexyload:before,
	.sexyload:after,
	.shoptable .table > thead > tr > th,
	.blog-meta .btn:hover,
	.blog-meta .btn:focus,
	.btn-primary,
	.accordion-toggle h3 .fa-minus,
	.dropdown-menu > li.shopcart:focus .btn-primary,
	.dropdown-menu > li.shopcart.active .btn-primary,
	.dropdown-menu > li.shopcart:active .btn-primary,
	.dropdown-menu > li.shopcart:hover .btn-primary,
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-default {
		color: #fff !important;
		background-color: #3daa62 !important;
	  	border-color: #3daa62 !important;
	}

	.parallax .btn-dark,
	.btn-dark {
		color:#ffffff !important;
	    background-color: #202830 !important;
	    border-color: #202830 !important;
	}
	
	

	/* IF RGBA */

	.magnifier {
		background-color: rgba(61,170,98,0.9);
	}

	/* IF NORMAL */

	::selection {
		background: #3daa62; /* Safari */
		color:#fff;
	}
	
	::-moz-selection {
		background: #3daa62; /* Firefox */
		color:#fff;
	}
	.owl-theme .owl-dots .owl-dot span,
	.progress-bar,
	.backtotop,
	.service-style-1:hover .icon-container {
		background-color: #3daa62;
	}
	.fun h4,
	.portfolio-widget-title.green h3, 
	.list-widget li:hover i,
	.teammember:hover h4,
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
	.testimeta p,
	.blog-style-2 .blog-meta span a,
	.invisible-title h4,
	.invisible-title h4 a,
	.copyrights a,
	.twitter-widget a,
	.accordion-toggle h3:hover,
	.accordion-toggle h3:focus,
	.blog-title h4 a,
	.small-title h4,
	.text-widget h4,
	.service-style-2 i,
	.section-title h4,
	.service-style-1:hover strong,
	.custom-list li:before,
	.contactwrap i,
	.portfolio-filter a,
	.skills h3,
	.dropdown-menu .table h4,
	#sidebar .widget .widget-title h4,
	.dropdown-menu .table h4 a,
	.section-title .fa-play,
	.breadcrumb > .active,
	.contact-info span,
	.yamm-fw .box li:hover a,
	.pbody ul li span,
	.header .dropdown-menu > li:hover > a,
	.header .dropdown-menu > .active > a,
	.header .dropdown-menu > .active > a:hover,
	.header .dropdown-menu > .active > a:focus,
	h1,h2,h3,h4,h5,h6,
	.shop-meta strong,
	.header .nav > li > a:hover {
		color:#3daa62;
	}

	.header .dropdown-menu {
		border-top-color: #3daa62;
	}

	.blockquote-reverse {
		border-right-color: #3daa62;
	}
	
	@-webkit-keyframes load1 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0 #3daa62;
	  }
	  40% {
	    box-shadow: 0 -2em #3daa62;
	  }
	}
	@keyframes load1 {
	  0%,
	  80%,
	  100% {
	    box-shadow: 0 0 #3daa62;
	  }
	  40% {
	    box-shadow: 0 -2em #3daa62;
	  }
	}

