.filters {
    margin-top: 30px;
    margin-bottom: 30px;
}
.button-group {
    margin-bottom: 10px;
}
@media screen and (max-width:768px) {
    .apparel {
        width: 100%;
    }
    img {
        width: 200px;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width:1200px) {}
